//-partials/head this doesn't seem to want to work properly, leaving for now
html
  head
    title TinyApp
    link(rel='stylesheet', href='../css/styles.css', type='text/css')
    body
      include _header
