html
  head
    title TinyApp
  body
    include partials/_header
    div(style="width:100%; display: flex; flex-direction:column; align-items: center; margin-top: 3em;")
      h3=`${shortURL}:`
      form(method="POST" action=`/urls/${shortURL}`)
        label(for=`longURL`) Update URL:
        input(id=`longURL` type="text" name="longURL" placeholder=`${longURL}`)
        input(type="submit" value="update")